@model TravelTripProje.Models.Classes_DTO.BlogsCommentDTO
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<!DOCTYPE HTML>
<html>
<head>
    <title>Personal Blog a Blogging Category Flat Bootstarp  Responsive Website Template | Single :: w3layouts</title>
    <link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="css/style.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Personal Blog Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!----webfonts---->
    <link href='http://fonts.googleapis.com/css?family=Oswald:100,400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,300italic' rel='stylesheet' type='text/css'>
    <!----//webfonts---->


</head>
<body>
    <!---header---->
    <div class="header">
        <div class="container">

            <!---start-top-nav---->
            <div class="clearfix"></div>
            <script>
                $("span.menu").click(function () {
                    $(".top-menu ul").slideToggle("slow", function () {
                    });
                });
            </script>
            <!---//End-top-nav---->
        </div>
    </div>
    <!--/header-->
    <div class="single">
        <div class="container">
            <div class="col-md-8 single-main">

                @if (Model.Blogs.Count == 0)
                {
                    <div class="single-grid">
                        <img src="~/blog/images/post1.jpg" alt="" />
                        <div style="margin-bottom:15px;"></div>
                        <a href="BlogDetay/1">Paris'te bir gece geçirmek</a>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        </p>
                    </div>
                    <div style="margin-bottom:15px;"></div>
                }
                else
                {
                    foreach (Blogs item in Model.Blogs)
                    {
                        <div class="single-grid">
                            @if (@item.BlogImage == null)
                            {
                                <img src="https://cdn.pixabay.com/photo/2014/09/07/22/17/forest-438432_960_720.jpg" alt="" style="width:400px;height:auto;" />
                            }
                            else
                            {
                                <img src="@item.BlogImage" alt="" />
                            }

                            <div style="margin-bottom:15px;"></div>
                            <a href="/Blog/BlogDetail/@item.ID">@item.LayoutBlog</a>
                            <p>
                                Puan:@item.BlogPuan
                                @item.BlogDescription.Substring(0, item.BlogDescription.Substring(0,150).LastIndexOf(" "))  <a href="/Blog/BlogDetail/@item.ID"> <hr /> Devamını oku...</a>
                            </p>
                        </div>
                        <div style="margin-bottom:15px;"></div>
                    }

                }

            </div>


            <div class="col-md-4 side-content">
                <div class="recent">
                    <h3>Son Postlar</h3>
                    @foreach (Blogs item in Model.LastBlogs)
                    {
                        <ul>
                            <li><a href="/Blog/BlogDetail/@item.ID">@item.LayoutBlog</a></li>
                        </ul>
                    }

                </div>
                <div class="comments">
                    <h3>Son Yorumlar</h3>
                    @foreach (Comments item in Model.Comments)
                    {
                <ul>
                    <li><a href="BlogDetail/@item.BlogID"> @item.Commentator: @item.CommentTor.Substring(0,item.CommentTor.Substring(0,10).LastIndexOf(" ")) / Devamını oku...</a></li>
                    @*<li><a href="~/blog/BlogDetail/@item.BlogID">Amada Doe </a> on <a href="#">Hello World!</a></li>*@
                </ul>
                    }
                </div>
                <div class="clearfix"></div>

            </div>
        </div>
    </div>
</body>

</html>

